body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f7f8;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: black;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d3382e;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #a12b24;
}

.wishes li {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}